#title-screen-title img {
  max-width: 200px;
}

.speech-bubble {
  position: relative;
  background: #6c757d;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right-color: #6c757d;
  border-left: 0;
  border-top: 0;
  margin-top: -6.5px;
  margin-left: -13px;
}

.zombie {
  background-image: url("../images/zombie.gif");
  background-size: 100% 100%;
  transform: rotate(90deg);
  position: absolute;
  width: 100px;
  height: 100px;
  animation: walk 30s normal;
}
@keyframes walk {
  0% {
    top: -20px;
  }
  100% {
    top: 105vh;
  }
}
