#title-screen-title img {
  max-width: 200px;
}

.speech-bubble {
  position: relative;
  background: #6c757d;
  border-radius: 0.4em;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right-color: #6c757d;
  border-left: 0;
  border-top: 0;
  margin-top: -6.5px;
  margin-left: -13px;
}

.zombie {
  background-image: url("../images/zombie.gif");
  background-size: 100% 100%;
  transform: rotate(90deg);
  position: absolute;
  width: 100px;
  height: 100px;
  animation: walk 30s normal;
  z-index: 1;
}
@keyframes walk {
  0% {
    top: -20px;
  }
  100% {
    top: 105vh;
  }
}

.zombie-dead {
  background-image: url("../images/blood-explosion.gif");
  transform: rotate(45deg);
}

.pulse {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.jackInTheBox {
  animation: jackInTheBox 1s;
}
@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-17deg);
    transform: rotate(-17deg);
  }

  70% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes rotateInUpLeft {
  from {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }

  to {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInUpLeft {
  animation: rotateInUpLeft 0.5s;
}

.animation-delay {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}
